<nav class="container-fluid">
   <ul>
      <li><a href="./" class="contrast"><img src={~p"/images/beer-mug-icon.svg"} style="height: 22px; margin-right: 8px; margin-bottom: 5px;"><strong>beer.tylergregg</strong></a></li>
   </ul>
   <!-- <ul>
      <li>
         <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Menu</summary>
            <ul role="listbox">
               <li><a href="#">Home</a></li>
               <li><a href="#">Resume</a></li>
               <li><a href="#">GF Beer</a></li>
               <li><a href="#">Tech</a></li>
               <li><a href="#">Todos</a></li>
               <li><a href="#">Chat</a></li>
               <li><a href="#">Sign out</a></li>
            </ul>
         </details>
      </li>
   </ul> -->
</nav>
