<main class="container">
   <section id="intro">
      <picture>
         <source media="(max-width: 450px)" srcset={~p"/images/ty-dogs-banner-450.jpg"}>
         <source media="(min-width: 451px) and (max-width: 975px)" srcset={~p"/images/ty-dogs-banner-700.jpg"}>
         <source media="(min-width: 976px)" srcset={~p"/images/ty-dogs-banner-1200.jpg"}>
         <img src={~p"/images/ty-dogs-banner-1200.jpg"} alt="Ty and his shelties" style="padding: 8px 0px 24px;">
      </picture>
      <div class="md-section">
         <div class="markup">
            <p>I'm a fullstack developer, gluten free brewer, and dedicated dog dad. This is my little slice of the internet. </p>
            <p>Browse the links (there will be more than one someday) below at your leisure, inquiries are welcome via <a href="https://www.linkedin.com/in/tyler-gregg-803317103/">linkedin</a> or email at <a href="mailto:tyler.gregg.ma@gmail.com">tyler.gregg.ma@gmail.com</a>.</p>
            <p><a href="/resume">Resume stuff</a></p>
         </div>
      </div>
   </section>
</main>
